.banner {
  box-sizing: border-box;
  position: relative;      
  rotate: -3deg;
  overflow: hidden;
  height: clamp(40px, 6vw, 62px);
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(5px);
  color: rgba(61, 207, 182, 1);
  width: 100%;
  margin: 0 auto;

  .scroll-container {
    display: flex;
    font-size: clamp(1.25rem, 3vw, 2rem);
    font-weight: 400;
    white-space: nowrap;
    width: max-content;
    animation: scroll 20s linear infinite;
  }

  .flow-item {
    display: inline-flex;
    align-items: center;
  }

  .dot {
    height: clamp(0.35rem, 0.8vw, 0.56rem);
    width: clamp(0.35rem, 0.8vw, 0.56rem);
    margin: clamp(1.5rem, 3vw, 3rem);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: clamp(1rem, 2vw, 2rem);
  max-width: clamp(20rem, 95vw, 90rem);
}


@media (min-width: 320px) and (max-width: 900px) {
  .banner {
    height: clamp(32px, 5vw, 40px);
    position: relative;

  }
  
  .banner .dot {
    margin: clamp(1rem, 2vw, 1.5rem);
  }
  
  .marquee-wrapper {
    margin-bottom: clamp(0.5rem, 1vw, 1rem);
  }
}

@media (max-width: 375px) {
  .banner {
    height: 30px;
  }
  
  .banner .scroll-container {
    font-size: 1rem;
  }
  
  .banner .dot {
    height: 0.3rem;
    width: 0.3rem;
    margin: 0.8rem;
  }
}