<div class="banner">
  <div class="scroll-container">
    <ng-container *ngFor="let text of flowTexts">
      <div class="flow-item">
        <img class="dot" src="/assets/img/dot.svg" alt="dot" />
        <span>{{ text| translate }}</span>
      </div>
    </ng-container>
    <ng-container *ngFor="let text of flowTexts">
      <div class="flow-item">
        <img class="dot" src="/assets/img/dot.svg" alt="dot" />
        <span>{{ text | translate }}</span>
      </div>
    </ng-container>
  </div>
</div> 
