$dark-bg: rgba(28, 28, 28, 1);
$accent-color: rgba(61, 207, 182, 1);

.feedback-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-bg;
  padding-top: clamp(3rem, 5vw, 10rem);
  overflow-x: hidden;
  width: 100%;
  max-width: min(100%, 1440px);
  margin: 0 auto;

  > img {
    position: absolute;
    top: clamp(8rem, 10vw, 12rem);
  }
}

.gradient-bar {
  position: absolute;
  z-index: 1;
  top: clamp(8rem, 12vw, 15rem);
  left: 0;
  right: 0;
  height: clamp(15rem, 20vw, 24rem);
  background-image: linear-gradient(
    to right,
    $dark-bg,
    rgba(28, 28, 28, 0) 25%,
    rgba(28, 28, 28, 0) 75%,
    $dark-bg
  );
}

.code-heading {
  width: min(100%, 90vw);
  
  h2 {
    color: $accent-color;
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    line-height: clamp(1.75rem, 4.5vw, 3rem);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: clamp(1.5rem, 3vw, 4rem);
    text-align: center;
  }
}


@media (max-width: 768px) {
  .feedback-section {
    padding-top: clamp(2rem, 4vw, 6rem);
    
    p {
      margin: clamp(1rem, 3vw, 3rem) clamp(0.5rem, 2vw, 1rem) 0;
    }
  }
  
  .gradient-bar {
    z-index: 0;
    height: clamp(12rem, 18vw, 23rem);
  }
}

@media (max-width: 480px) {
  .feedback-section {
    align-items: unset;
    overflow: hidden;
  }
  
  .code-heading h2 {
    margin: clamp(1.5rem, 5vw, 3rem) auto;
    position: relative;
    left: 1rem;
  }
}