@use "sass:math";

.header-wrapper {
  margin: auto;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1380px;
  height: clamp(4rem, 10vw, 6.25rem);
  padding: 0 clamp(1rem, 6vw, 6rem);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );

  .logo {
    width: clamp(100px, 15vw, 180px);
    height: clamp(100px, 15vw, 180px);
    margin-top: 0.5rem;
    border-radius: 20px;
    background: url("./../../../assets/img/logo.png") no-repeat center;
    background-size: cover;
    transition: background 0.5s ease-in-out, transform 0.5s ease;
  }

  .logo:hover {
    background-image: url("./../../../assets/img/logo-weiß.png");
    transform: scale(1.05) rotate(5deg);
  }
}

.logo {
  cursor: pointer;
}

.header-full {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-content {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  height: clamp(4rem, 10vw, 6.25rem);
  padding: 0 clamp(1rem, 6vw, 6rem);
}

.header-content .logo {
  width: clamp(40px, 15vw, 180px);
  height: clamp(100px, 15vw, 180px);
  margin-top: 0.5rem;
  border-radius: 20px;
  background: url("./../../../assets/img/logo.png") no-repeat center;
  background-size: cover;
  transition: background 0.5s ease-in-out, transform 0.5s ease;
}

.header-content .logo:hover {
  background-image: url("./../../../assets/img/logo-weiß.png");
  transform: scale(1.05) rotate(5deg);
}

.left-side-header {
  display: flex;
  height: clamp(1.25rem, 3vw, 1.75rem);
  align-items: center;
  gap: clamp(1rem, 2vw, 1.5rem);
  width: auto;
  color: #ffffff;
  font-size: 1.25rem;

  > a {
    padding-top: clamp(0.5rem, 2vw, 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease;
    cursor: pointer;

    > div {
      margin-top: clamp(0.25rem, 1vw, 0.5rem);
      width: clamp(0.4rem, 1vw, 0.5rem);
      height: clamp(0.4rem, 1vw, 0.5rem);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url(../../../assets/img/dot.svg);
      opacity: 0;
      transform: scale(0.8);
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    &:hover {
      color: rgba(61, 207, 182, 1);

      > div {
        opacity: 1;
        transform: scale(1);
      }
    }

    &:not(:hover) > div {
      opacity: 0;
      transform: scale(0.8);
    }
  }
}

.burger-menu {
  display: none;
}

.burger-toggle {
  all: unset;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-weight: 10;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.mobile-menu {
  display: none;
}

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

$toggle-width: clamp(4.2rem, rem(84), 6.3rem);
$toggle-height: clamp(1.4rem, rem(28), 2.1rem);
$toggle-padding: clamp(0.1rem, rem(2), 0.15rem);
$toggle-radius: clamp(3rem, rem(60), 4.5rem);
$toggle-inner-radius: clamp(2.6rem, rem(52), 3.9rem);
$toggle-thumb-width: clamp(2.1rem, rem(42), 3.15rem);
$border-offset: clamp(0.15rem, rem(3), 0.225rem);
$thumb-offset: clamp(0.2rem, rem(4), 0.3rem);
$thumb-move: clamp(1.9rem, rem(38), 2.85rem);

$primary-color: rgba(61, 207, 182, 1);
$active-text: rgba(255, 255, 255, 1);
$inactive-text: rgba(61, 207, 182, 0.5);
$glow-color: rgba(61, 207, 182, 0.6);
$font-size: clamp(0.8rem, rem(16), 1.2rem);
$text-shadow-color: rgba(0, 0, 0, 0.06);

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;

  > span {
    position: absolute;
    top: 6px;
    pointer-events: none;
    font-weight: 700;
    font-size: $font-size;
    text-transform: uppercase;
    text-shadow: 0 1px 0 $text-shadow-color;
    width: 50%;
    text-align: center;

    &.on {
      left: 0;
      padding-left: 2px;
      color: $active-text;
    }
    &.off {
      right: 0;
      padding-right: 4px;
      color: $inactive-text;
    }
  }
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  overflow: hidden;
  transition: transform 0.1s ease, box-shadow 0.2s ease;

  &:before {
    display: block;
    position: absolute;
    content: "";
    top: $border-offset;
    left: $border-offset;
    bottom: $border-offset;
    right: $border-offset;
    border: 1px solid $primary-color;
    border-radius: $toggle-radius;
    transition: box-shadow 0.3s ease;
  }

  &:hover {
    box-shadow: 0 0 10px $glow-color;
  }

  &:active {
    transform: scale(0.97);
  }
}

input.check-toggle-round-flat {
  & + label {
    padding: $toggle-padding;
    width: $toggle-width;
    height: $toggle-height;
    border-radius: $toggle-radius;

    &:after {
      display: block;
      position: absolute;
      content: "";
      top: $thumb-offset;
      left: $thumb-offset;
      bottom: $thumb-offset;
      width: $toggle-thumb-width;
      background-color: $primary-color;
      border-radius: $toggle-inner-radius;
      transition: margin 0.2s;
    }
  }

  &:checked + label:after {
    margin-left: $thumb-move;
  }

  &:checked ~ .off {
    color: $active-text;
  }

  &:checked ~ .on {
    color: $inactive-text;
  }
}

@media (max-width: 600px) {
  .left-side-header {
    display: none;
  }

  .mobile-menu {
    position: absolute;
    top: clamp(6.25rem, 10vw, 6.25rem);
    left: 0;
    right: 0;
    background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: 10;
    width: 240px;
    height: 250px;
    border-radius: 2rem;
    border: 1px #3dcfb6 solid;

    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: all 0.4s ease;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    .menu-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      text-align: center;
      margin: 3rem 0 0 0;
    }

    .switch {
      width: $toggle-width;
      height: $toggle-height;
      margin: 0 auto;
      position: relative;

      > span.on {
        left: 0;
        padding-left: 2px;
        color: $active-text;
      }

      > span.off {
        right: 0;
        padding-right: 4px;
        color: $inactive-text;
      }
    }

    .switch input.check-toggle-round-flat + label {
      padding: $toggle-padding;
      width: $toggle-width;
      height: $toggle-height;
      border-radius: $toggle-radius;

      &:before {
        top: $border-offset;
        left: $border-offset;
        bottom: $border-offset;
        right: $border-offset;
        border: 1px solid $primary-color;
        border-radius: $toggle-radius;
      }

      &:after {
        top: $thumb-offset;
        left: $thumb-offset;
        bottom: $thumb-offset;
        width: $toggle-thumb-width;
        background-color: $primary-color;
        border-radius: $toggle-inner-radius;
        transition: margin 0.2s;
      }
    }
  }

  .burger-menu {
    display: block;
  }
}
