<div
  id="aboutSection"
  class="about-container"
  data-aos="fade-up"
>
  <div class="about-inner">
    <div class="about-image-wrapper">
      <img
        class="profile-front"
        src="./../../../assets/img/white-1556107_640.png"
        alt="Profil Picture"
        data-aos="zoom-in"
      />

      <img
        class="profile-back"
        src="./../../../assets/img/background-photo.svg"
        alt="Profil Picture Background"
        data-aos="zoom-in"
      />
    </div>

    <div class="about-text" data-aos="fade-left">
      <h3 data-aos="fade-down">
        {{ "aboutMe.heading.primary" | translate }}
      </h3>
      <div class="about-content">
        <h2 class="mono-font" data-aos="fade-up">
          {{ "aboutMe.heading.secondary" | translate }}
        </h2>
        <p class="light-text" data-aos="fade-up">
          {{ "aboutMe.introduction" | translate }}
        </p>
        <div class="info-group" data-aos="slide-right">
          <a target="_blank" href="https://maps.app.goo.gl/58XEsDJ63HHtVyVx8">
            <app-svg-icon iconName="location-icon"></app-svg-icon>
          </a>
          <span>{{ "aboutMe.texts.location" | translate }}</span>
        </div>
        <div class="info-group" data-aos="slide-left">
          <app-svg-icon iconName="cognition-icon"></app-svg-icon>
          <span>{{ "aboutMe.texts.mindset" | translate }}</span>
        </div>
        <div class="info-group" data-aos="slide-right">
          <app-svg-icon iconName="new-release-icon"></app-svg-icon>
          <span>{{ "aboutMe.texts.newProjects" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
