<div class="home-container" id="homeSection">
  <div class="header-content" data-aos="fade-up" data-aos-delay="300">
    <h2 data-aos="fade-right" data-aos-delay="700" class="subtitle-code">{{ 'landingPage.title' | translate }}</h2>
    <h1 data-aos="fade-left" data-aos-delay="700"> Tarik Sabanovic</h1>
    <div class="button-group">
      <a href="#contact-section " data-aos="fade-right">
        <div>{{ 'landingPage.buttons.contactMe' | translate }}</div>
      </a>
      <a href="#projectSection" data-aos="fade-left">
        <div>{{ 'landingPage.buttons.myProjects' | translate }}</div>
      </a>
    </div>
  </div>

  <div class="side-panel">
    <div class="side-left" data-aos="zoom-in-right">
      <a href="#aboutSection" class="scroll-link">
        <div>
          <img src="/assets/img/scroll-down.svg" alt="jumping arrow" />
        </div>
      </a>
      <div class="extra-element"></div>
    </div>
    <div class="side-right" data-aos="zoom-in-left">
      <a href="mailto:tarik.sabanovic2@icloud.com" class="email-link " style="width: 100%">
        <span class="email-label email">tarik.sabanovic2&#64;icloud.com</span>
      </a>
   
      <a target="_blank" href="https://github.com/ttariik" class="social-link github">
        <div class="social-icon"></div>
        <div class="social-icon"></div>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/tarik-sabanovic-70410134b/" class="social-link linkedin">
        <div class="social-icon"></div>
        <div class="social-icon"></div>
      </a>
      
      <div class="placeholder"></div>
    </div>
  </div>

  <div class="marquee-wrapper" data-aos="flip-down" >
    <app-marquee></app-marquee>
  </div>
</div>
