.radio-button {
  margin: 0 30px;
}

.github-icon {
  position: relative;
  left: 511px;
  top: 350px;
}

.linkedin-icon {
  position: relative;
  left: 540px;
  top: 400px;
}

.github-icon{
  color: #3dcfb6;
  transition: transform 0.5s ease, filter 0.3s ease;

  &:hover {
    color: #181717;
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px rgba(61, 207, 182, 0.8));
  }
}


.linkedin-icon {
  color: #3dcfb6;
  transition: transform 0.5s ease, filter 0.3s ease;

  &:hover {
    color: #0077B5;
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px rgba(61, 207, 182, 0.8));
  }
}

.location-icon,
.cognition-icon,
.new-release-icon {
  height: 32px;
  width: 32px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.location-icon:hover,
.cognition-icon:hover,
.new-release-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px rgba(61, 207, 182, 0.8));
}
