<section id="skill-set" data-aos="fade-up">
  <div>
    <div data-aos="fade-right">
      <h3>{{ "skillSet.heading.primary" | translate }}</h3>
    </div>

    <div
      class="skill-set-container"
      data-aos="fade-up"
    >
      <h2>{{ "skillSet.heading.secondary" | translate }}</h2>
      <div data-aos="fade-up">
        <p class="text">{{ "skillSet.text.primary" | translate }}</p>
        <div class="explanation" data-aos="fade-left">
          <div data-aos="fade-right">
            <p class="anotherSkill-text">
              {{ "skillSet.heading.tertiary1.1" | translate }}
              <span class="green-text">{{
                "skillSet.heading.tertiary1.2" | translate
              }}</span>
            </p>
          </div>

          <div data-aos="fade-left">
            <p class="anotherSkillsub-text">
              {{ "skillSet.text.secondary" | translate }}
            </p>
          </div>

          <div class="btn" data-aos="zoom-in">
            <button onclick="window.location.href='#contact-section'">
              <div>{{ "skillSet.text.tertiary" | translate }}</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="technologies" data-aos="zoom-in">
    <app-svg-icon
      iconName="html-icon"
      tooltip="HTML5"
      data-aos="flip-left"
    ></app-svg-icon>
    <app-svg-icon
      iconName="css-icon"
      tooltip="CSS3"
      data-aos="flip-left"
    ></app-svg-icon>
    <app-svg-icon
      iconName="javascript-icon"
      tooltip="JavaScript"
      data-aos="flip-left"
    ></app-svg-icon>
    <app-svg-icon
      iconName="material-design-icon"
      tooltip="Material Design"
      data-aos="flip-left"
    ></app-svg-icon>

    <app-svg-icon
      iconName="typescript-icon"
      tooltip="TypeScript"
      data-aos="flip-right"
    ></app-svg-icon>
    <app-svg-icon
      iconName="angular-icon"
      tooltip="Angular"
      data-aos="flip-right"
    ></app-svg-icon>
    <app-svg-icon
      iconName="firebase-icon"
      tooltip="Firebase"
      data-aos="flip-right"
    ></app-svg-icon>
    <app-svg-icon
      iconName="git-icon"
      tooltip="GIT"
      data-aos="flip-right"
    ></app-svg-icon>

    <app-svg-icon
      iconName="rest-api-icon"
      tooltip="Rest-API"
      data-aos="flip-left"
    ></app-svg-icon>

    <div class="scrum-icon">
      <app-svg-icon iconName="scrum-icon" tooltip="Scrum"></app-svg-icon>
    </div>

    <div class="growth-mindset" data-aos="zoom-in">
      <app-svg-icon iconName="growth-mindset-icon"></app-svg-icon>
      <div class="tooltip2" data-aos="fade-up">
        <div class="tooltip-item" data-aos="fade-right">
          <app-svg-icon iconName="cyberSecurity-icon"></app-svg-icon>
          <p>Cyber Security</p>
        </div>
        <div class="tooltip-item" data-aos="fade-left">
          <app-svg-icon iconName="react-icon"></app-svg-icon>
          <p>React</p>
        </div>
        <div class="tooltip-item" data-aos="fade-right">
          <app-svg-icon iconName="vue-js_icon"></app-svg-icon>
          <p>Vue.js</p>
        </div>
      </div>
      <div class="tooltip-name">
        <span>{{ "skillSet.text.mindset" | translate }}</span>
      </div>
    </div>
  </div>
</section>
