<div class="footer" data-aos="fade-in">
  <div class="footer__container">
    <div class="footer__section footer__section--left" data-aos="fade-right">
      <a [href]="footerInfo.logoLink">
        <div data-aos="zoom-in"></div>
        <a href="#aboutSection">
          <div
            class="footer__logo"
            data-aos="zoom-in"
            data-aos-easing="ease-out-back"
          ></div>
        </a>
      </a>
      <div class="footer__info" data-aos="fade-up">
        <span class="footer__title">{{ footerInfo.title | translate }}</span>
        <a href="https://maps.app.goo.gl/58XEsDJ63HHtVyVx8" target="_blank">
          <span class="footer__location">
            {{ footerInfo.location | translate }}
          </span>
        </a>
      </div>
    </div>

    <div class="footer__section footer__section--center footer__copy">
      &copy; Tarik Sabanovic {{ currentYear }}
    </div>

    <div class="footer__section footer__section--right" data-aos="fade-left">
      <div *ngFor="let link of footerLinks; let i = index" data-aos="flip-up">
        <ng-container *ngIf="link.internal; else externalLink">
          <a [routerLink]="link.url">
            <div class="footer__icon" data-aos="zoom-in"></div>
            <span>
              {{ link.translate ? (link.label | translate) : link.label }}
            </span>
          </a>
        </ng-container>
        <ng-template #externalLink>
          <a [href]="link.url" [attr.target]="link.target">
            <div class="footer__icon" data-aos="zoom-in"></div>
            <span>
              {{ link.translate ? (link.label | translate) : link.label }}
            </span>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
